.row /*Row contaier*/
{
	width: 71.27%;
	margin-top: 5%;
}
.span
{
	margin: 0 2% 4% 2%;
	min-height: 40px;
	/*background: maroon; - testing color dont include*/
}


.span1
{
	width: 6%;
}
.span2
{
	width: 16%;
}
.span3
{
	width: 29.3%;
}

.span4
{
	width: 45.9%;
	
}

.span5 /*Spanning full width of Row*/
{
	width: 96%;
}

/*Special spans (uneven)*/
.span7
{
	width: 62.5%;
	/*background: aqua; - test coloring*/
}

/*Header*/
.header
{
	width: 100%;
	background: black;
	height: 30px;
	padding: 15px 0 5px 20px;
	margin-bottom: 15px;
}
	.header h3{float: left;}
	.header i{font-size: 80%; margin-left: 15px; margin-top:5px; float:left; color:#676262;}